ul {
  list-style-type: none;
}

.span-star {
  color:#d3d3d3;
  cursor: pointer;
  font-size: 40px;
}

.span-star:hover{
  font-size: 42px;
}

.span-bold {
  color:goldenrod;
  font-weight: 500;
}

.passenger-list,
.grocery-list{
  padding-left: 0px;
}

.btn-teams-list,
.btn-product{
  margin: 3px;
}

.image-container{
  display: flex;
  flex-direction: column;
}

.btn-focused{
  margin-left: 6px;
}

.btn-reset{
  margin-top: 6px;
}